@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body,
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hidden{
    display: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    border-radius: 50%;
}

.eye-wrapper{
    --size: min(90vh, 90vw);
    width: var(--size);
    height: var(--size);
}

.eye{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: calc(var(--size) / 100) solid black;
    background: blue;
    box-sizing: border-box; /* Keep eye inside wrapper */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: inset 0px 0px calc(var(--size) / 5) rgba(0, 0, 0, 20);
    --pupil-size: 25%;
    overflow: hidden;
}

.pupil{
    width: var(--pupil-size);
    height: var(--pupil-size);
    background: black;
    box-shadow: 0px 0px calc(var(--size) / 5) rgba(0, 0, 0, 20);
}

.sharingan{
    background: red;
    --inner-ring-size: calc(var(--size) / 1.9);
    --pupil-size: 18%;
    animation: rotation 8s linear infinite; 
}

.inner-ring{
    position: absolute;
    background: none;
    border: calc(var(--size) / 120) solid black;
    width: var(--inner-ring-size);
    height: var(--inner-ring-size);
    filter: blur(4px);
}

.tomoe{
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    font-size: calc(var(--size) / 2);
    height: 5%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes rotation{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
