@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body,
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
}

.hidden{
    display: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    border-radius: 50%;
}

.full-eye{
    background: #f8f8ff;
    --size: min(100vh, 100vw);
    width: var(--size);
    height: var(--size);
    border-radius: 75% 0%;
    transform: rotate(45deg);
    border: calc(var(--size) / 100) solid black;
}

.eye-wrapper{
    --size: min(90vh, 90vw);
    width: var(--size);
    height: var(--size);
}

.eye{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: calc(var(--size) / 100) solid black;
    background: gray;
    box-sizing: border-box; /* Keep eye inside wrapper */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: inset 0px 0px calc(var(--size) / 5) rgba(0, 0, 0, 20);
    --pupil-size: 25%;
    overflow: hidden;
    transition: background 0.5s ease;
}

.pupil{
    width: var(--pupil-size);
    height: var(--pupil-size);
    background: black;
    box-shadow: 0px 0px calc(var(--size) / 5) rgba(0, 0, 0, 20);
    transition: all 0.5s ease;
    transition-property: width, height;
}

.sharingan{
    background: red;
    --inner-ring-size: calc(var(--size) / 1.9);
    --pupil-size: 18%;
    animation: rotation 8s linear infinite; 
}

.inner-ring{
    position: absolute;
    background: none;
    border: calc(var(--size) / 120) solid black;
    width: var(--inner-ring-size);
    height: var(--inner-ring-size);
    filter: blur(4px);
    transition: opacity 1s ease;
    opacity: 0;
}

.sharingan .inner-ring{
    opacity: 1;
}

.tomoe{
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    font-size: calc(var(--size) / 2);
    height: 5%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: transform 0.5s ease;
}

.fade-anim{
    animation: fade-in 0.5s linear 1;
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes rotation{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
